* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flex-container {
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  background: green;
  height: 500px;
}

.flex-item {
  background: orange;
  width: 23%;
  height: 50px;
  text-align: center;
  padding: 15px;
}
